<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">
      <h3 class="bg-primary text-white p-3">{{ getName() }}'s list</h3>
      <div class="input-group mb-3">
        <input
          #input
          type="text"
          class="form-control"
          (keyup.enter)="addItem(input.value)"
          input.value=""
          [(ngModel)]="message"
        />
        <!-- (blur)="addItem(input.value)" -->
        <button
          class="btn btn-outline-primary"
          (click)="addItem(input.value); input.value = ''"
        >
          Add
        </button>
      </div>
      <h6>Message : {{ message }}</h6>
      <h6>{{ displayAll }}</h6>
      <div class="form-check mb-3">
        <input
          type="checkbox"
          [(ngModel)]="displayAll"
          class="form-check-input"
          id="displayAll"
        />
        <label for="displayAll" class="form-check-label">Show All</label>
      </div>
      <table *ngIf="getItems().length > 0" class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody #tbody>
          <tr
            (click)="ChangeColor(tbody, tr.style)"
            #tr
            *ngFor="let item of getItems(); let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ item.description }}</td>
            <!-- <td *ngIf="item.action">Yes</td>
            <td *ngIf="!item.action">No</td> -->
            <div [ngSwitch]="item.action">
              <div *ngSwitchCase="true">Yes</div>
              <div *ngSwitchDefault>No</div>
            </div>
          </tr>
        </tbody>
      </table>
      <div class="alert alert-warning" *ngIf="getItems().length == 0">
        List is empty
      </div>
      <!-- <ul>
            <li *ngFor="let item of items" >
                {{item}}
            </li>
        </ul> -->
    </div>
  </div>
</div>
